@import url("https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Poppins:wght@100;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-slab: "Kelly Slab", sans-serif;

  --color-yellow-smooth: #fef99b;
  --color-yellow-fresh: #feee7d;
  --color-grey-smooth: #d9d9d9;
  --color-green-smooth: #42b6b5;
  --color-purple-smooth: #988cd7;
}

@keyframes fadeRotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes inFade {
  0% {
    transform: translateX(-70%);
    opacity: 0;
  }
  100% {
    tranform: translateX(0);
    opacity: 1;
  }
}

@keyframes jiggle-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30%);
  }
  100% {
    tranform: translateX(0);
  }
}

@keyframes jiggle-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30%);
  }
  100% {
    tranform: translateX(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Daftarkan animasi agar bisa dipakai di class */
@utility animate-fade-rotate {
  animation: fadeRotate 3s ease-in-out infinite;
}

@utility animate-inFade {
  animation: inFade 1s ease-in forwards;
}

@utility animate-fade {
  animation: fade 1s ease-in forwards;
}

@utility animate-jiggle-right {
  animation: jiggle-right 1s ease-in-out infinite;
}

@utility animate-jiggle-left {
  animation: jiggle-left 1s ease-in-out infinite;
}
